<div class="base-attack" ng-repeat="finalAttack in $ctrl.finalAttacks track by $index">
  <span >{{$ctrl.getFinalAttack(finalAttack)}}</span>
  <span >{{$ctrl.getFinalDamage(finalAttack)}}</span>
</div>

<label class="block">
  Enemy AC:
  <input type="number" ng-model="$ctrl.targetAc" ng-change="$ctrl.updateTargetAc();"/>
</label>

<div ng-repeat="finalAverage in $ctrl.finalAverages track by $index">
  <span >{{finalAverage.averageHit | number: 2}}*{{(finalAverage.averageDamage | number: 2)}}*(1+{{finalAverage.crit | number: 2}}) =
  {{finalAverage.averageTotal | number: 2}}</span>
</div>

<span>Total: {{$ctrl.finalAverage | number: 2}} </span>