character {
  width: 350px;
  display: inline-block;
  vertical-align: top;

  .bigUpsWrapper {
	min-height: 60px;
  }

  .attackWrapper {
    min-height: 60px;
  }

  .optionalWrapper {
    min-height: 80px;
  }

  .conditionalWrapper {
    min-height: 120px;
  }
}
