<h1>{{$ctrl.name}}</h1>

<p>Base Attack: + {{$ctrl.getBaseAttackRange()}}</p>

<div class="bigUpsWrapper" ng-show="$ctrl.bigUps && $ctrl.bigUps.length > 1">
  <div ng-repeat="bigUp in $ctrl.bigUps track by $index">
    <input type="radio" ng-model="$ctrl.selectedBigUp" ng-value="bigUp" ng-change="$ctrl.updateBab();">{{bigUp.name}}<br>
  </div>
</div>
<br />

<div class="attackWrapper">
  <div ng-repeat="attack in $ctrl.attacks track by $index">
    <input type="radio" ng-model="$ctrl.selectedAttack" ng-value="attack">{{attack.name}} {{$ctrl.getAttack(attack)}}<br>
  </div>
</div>
<br />

<bonus-list class="optionalWrapper" bonuses="$ctrl.optionalBonuses" selected-attack-type="$ctrl.selectedAttack.type"></bonus-list>

<bonus-list class="conditionalWrapper" bonuses="$ctrl.conditionalBonuses" selected-attack-type="$ctrl.selectedAttack.type" ></bonus-list>

Misc Attack Mod: <input type="number" ng-model="$ctrl.miscBonus.attackMod"/>
<br />
Misc Damage Mod: <input type="number" ng-model="$ctrl.miscBonus.damageMod"/>
<br />
Misc Damage Dice: <input type="text" ng-model="$ctrl.miscBonus.damageDice"/>
<br />

<br />
<br />

<div ng-repeat="baseAttack in $ctrl.getBaseAttackRange() track by $index">
  <span>{{$ctrl.getFinalAttack(baseAttack)}}</span>
  <br />
  <span>{{$ctrl.getFinalDamage()}}</span>
  <br />
  <br />
</div>



