character {
  width: 350px;
  display: inline-block;
  vertical-align: top;

  .bigUpsWrapper {
    margin-bottom: 20px;
	min-height: 60px;
  }

  .attackWrapper {
    margin-bottom: 20px;
    min-height: 60px;
  }

  .optionalWrapper {
    min-height: 100px;
  }

  .conditionalWrapper {
    min-height: 120px;
  }

  .miscWrapper {
    margin-bottom: 20px;

    label {
	  display: block;
	}
  }
}
